:root {
    background-color: black;
}

.footer-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #86c4fd;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.arba-bloqueada {
    display: flex;
}
.arba {
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
}

.arba:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.arba-ativa  {
    background: white;
    border-bottom: 1px solid transparent;
}

button {
    border: none;
}
.arba-surto {
    flex-grow : 1;
}
.surto {
    background: rgb(183, 232, 255);
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}
.surto h2 {
    padding: 0px 0 5px 0px;
}
.surto p {
    width: 100%;
    height: 100%;
    white-space: pre-line;
}
.surto-ativo {
    display: block;
}